<header>
  <h1>Node<span>Blogs</span></h1>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/blogs">blogs</li>
      <li><a href="/about">About</li>
      <li> <a href="/blogs/create">Create</a></li>
    </ul>
  </nav>
</header>
