<!DOCTYPE html>
<html lang="en">
  <%- include("./componets/head.ejs") %>

  <body>
    <center>
      <h1>404</h1>
      <h6>Woops, looks like we cant find the page/blog you are looking for!</h6>
      <button><a href="/">Back to home</a></button>
    </center>
    <%- include("./componets/footer.ejs") %>
  </body>
</html>
