<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/index.css" />

    <title>Node Blogs | <%= title%></title>
  </head>
  <body>
    <center>
      <h1>404</h1>
      <h6>Woops, looks like we cant find the page/blog you are looking for!</h6>
      <button><a href="/">Back to home</a></button>
    </center>
  </body>
</html>
