<!DOCTYPE html>
<html lang="en">
  <%- include("./componets/head.ejs") %>

  <body>
    <%- include("./componets/nav.ejs") %>

    <div class="all blogs">
      <h1>about blogs</h1>
    </div>
    <%- include("./componets/footer.ejs") %>
  </body>
</html>
