<!DOCTYPE html>
<html lang="en">
  <%- include("./componets/head.ejs") %>

  <body>
    <%- include("./componets/nav.ejs") %>
    <div class="createBlog">
      <form>
        <div class="form-group">
          <label for="Title">Title</label>
          <input
            type="text"
            class="form-control"
            placeholder="Title"
            required
          />
        </div>
        <div class="form-group">
          <label for="snippet">Snippet</label>
          <input
            class="form-control"
            type="text"
            placeholder="snippet"
            required
          />
        </div>
        <div class="form-group">
          <label for="body">body</label>
          <textarea class="form-control" rows="10" required></textarea>
        </div>

        <button class="btn btn-secuss">Submit</button>
      </form>
    </div>
    <%- include("./componets/footer.ejs") %>
  </body>
</html>
